# Dependencies & Build outputs
node_modules/
dist/
dist-ssr/
target/
build/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.*
!.env.example
*.local

# IDE & OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
